.dynamic-form{
 form{
   display: flex;
   flex-direction: column;
 }

  &_header{
    width: 100%;

  }
  &__body{
    margin-top: 16px;
  }

  &__close-btn{
    text-align: right;
    cursor: pointer;
    position: absolute;
    right: 16px;
    width: 16px;
    height: 20px;
  }

  &__item,
  &__add-panel{
    border-radius: 4px;
    box-sizing: border-box;
    padding: 16px;
    height: 300px;
    width: 300px;
    display: inline-block;
    margin-top: 16px;
    margin-left: 16px;
  }

  &__item{
    position: relative;
    border: 1px solid #f1e9f9;

    &>div{
      margin-bottom: 16px;


      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__add-panel{
    background-color: #f1e9f9;
    border: 2px dashed #b2b2b3;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    text-align: center;
    padding: 115px;

    &__btn{
      font-size: 32px;
      color: #b2b2b3;
      border: 1px solid #b2b2b3;
      border-radius: 50%;
      padding: 8px;
      width: 62px;
      height: 62px;
    }
  }
}
